<p>Availability Calendar</p>

<div class="row">
  <div class="col-sm-6">

    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default" (click)="prev_month()"><span class="glyphicon glyphicon-chevron-left"></span> Prev</button>
      </div>
      <input type="text" class="form-control" aria-label="..." value="{{ current.getFullYear() }} - {{ current.toLocaleString('ja-jp', { month: 'long' }) }}" disabled>

      <div class="input-group-btn">
        <button type="button" class="btn btn-default" (click)="next_month()">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
    <div class="row seven-cols hidden-xs">
      <div class="col-sm-1">月</div>
      <div class="col-sm-1">火</div>
      <div class="col-sm-1">水</div>
      <div class="col-sm-1">木</div>
      <div class="col-sm-1">金</div>
      <div class="col-sm-1">土</div>
      <div class="col-sm-1">日</div>
      <hr>
      <div class="col-sm-1" *ngFor="let d of display_dates" [ngClass]="{'past': d < today,
                  'nextmonth': d.getMonth() > current.getMonth(),
                  'previousmonth': d.getMonth() < current.getMonth(),
                  'selected':  is_selected_date(d)}" (click)="toggle_date(d)">{{ d | date:'dd' }}　</div>
    </div>


    <ul class="list-group hidden-sm hidden-md hidden-lg">
      <li class="list-group-item" *ngFor="let d of display_dates"
      [ngClass]="{'past': d < today,
                  'nextmonth': d.getMonth() > current.getMonth(),
                  'previousmonth': d.getMonth() < current.getMonth(),
                  'selected':  is_selected_date(d),
                  'list-group-item-success':  d < today && is_selected_date(d),
                  'list-group-item-info': d > today && is_selected_date(d)}"
      (click)="toggle_date(d)">
                  {{ d | date:'yyyy-MM-dd' }}
                  ({{ d.toLocaleString('ja-jp', { weekday: 'short' }) }})
      </li>
    </ul>

    <button type="button" class="btn btn-default" (click)="submitAvailability()">Update my Availability</button>
  </div>
  <div class="col-sm-6">
    Your next 5 days are:
    <ul>
      <li class="list-group-item" *ngFor="let d of selected_dates_array">
        {{ d | date: 'yyyy-MM-dd'}}
      </li>
    </ul>
  </div>
</div>
