<div class="alert alert-danger" role="alert" [hidden]="!authService.introduction.message">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  <span class="sr-only">Error:</span>
  {{authService.introduction.message}}
</div>

<form id="introductionForm" (ngSubmit)="onSubmitIntroduction()" #introductionForm="ngForm">
  <div class="form-group">
    <label for="InvitationEmail">Who do you want to introduce?</label>
    <input type="email" class="form-control" id="InvitationEmail" name="invitationEmail" placeholder="Email@example.org"
           ngModel required #invitationEmail="ngModel"  email="true" appSalesforceOnly>
      <div [hidden]="invitationEmail.valid || invitationEmail.pristine" class="alert alert-danger">
        You must enter a valid email.  You can only register with a salesforce.com email.
      </div>

  </div>
  <button type="submit" class="btn btn-default" [disabled]="!invitationEmail.valid || invitationEmail.pristine">Submit</button>
</form>
