  <nav class="navbar navbar-default">
    <app-nav></app-nav>
  </nav>
  <div class="container" [ngSwitch]="navService.state">
    <div *ngSwitchCase="'waiting'">
      <img alt="LunchForce" src="assets/index.coin-flowing-loader.svg">
      Waiting..
    </div>

    <div *ngSwitchCase="'loadmyevents'">
        <img alt="LunchForce" src="assets/index.money-coin-palette-color-preloader.svg">
      loading your upcoming lunch data...
    </div>

    <div *ngSwitchCase="'enrollment'">
      <app-enrollment [foodOptions]="foodOptions" [locationOptions]="locationOptions"></app-enrollment>
    </div>

    <div *ngSwitchCase="'login'">
      <app-login (loginEvent)="onLogin($event)"></app-login>
    </div>

    <div *ngSwitchCase="'search'" class="search">
      <app-search [foodOptions]="foodOptions" [locationOptions]="locationOptions"></app-search>

    </div>

    <div *ngSwitchCase="'introduction'">
      <app-introduction></app-introduction>
    </div>

    <div *ngSwitchCase="'introductionsuccess'">
      <app-invitation-success></app-invitation-success>
    </div>

    <div *ngSwitchCase="'profile'">
      <app-my-profile [foodOptions]="foodOptions" [locationOptions]="locationOptions"></app-my-profile>
    </div>

    <div *ngSwitchCase="'myevents'">
      <app-my-events></app-my-events>
    </div>

    <div *ngSwitchCase="'availability'">
          <app-availability></app-availability>
    </div>

    <div *ngSwitchCase="'publicevents'">
      <div class="alert alert-error" role="alert" [hidden]="!joinedAppointment">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Successfully joined:</span>
        You successfully joined the event (xxx)
      </div>
      <app-appointment-item [appointments]="appointmentService.everyoneAppointments.appointments" [allowJoiningEvent]=true (joinEvent)="onAppointmentJoined($event)">
        There are no public events currently available.
      </app-appointment-item>
    </div>

    <div *ngSwitchCase="'invitedto'">
      <div class="alert alert-error" role="alert" [hidden]="!joinedAppointment">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Successfully joined:</span>
        You successfully joined the event (xxx)
      </div>
      <app-appointment-item [appointments]="appointmentService.myInvitations.appointments" [allowJoiningEvent]=true (joinEvent)="onAppointmentJoined($event)">
        There are no invitations outstanding for you.
      </app-appointment-item>
    </div>

    <ng-template #errorModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{errormodal_message}}
      </div>
    </ng-template>

</div>
