  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img alt="LunchForce" src="assets/sandwich-311262_640.png">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav" *ngIf="!authService.login.success; else WelcomeNav">
          <li (click)="navService.login()" [ngClass]="{'active': state == 'login'}"><a href="#">Login <span class="sr-only">(current)</span></a></li>
          <li (click)="navService.enrollment()" [ngClass]="{'active': state == 'enrollment'}"><a href="#">Enrollment</a></li>
        </ul>
        <ng-template #WelcomeNav>
          <ul class="nav navbar-nav"><li class="navbar-text" >Welcome back {{ authService.profile.profile.name }}</li></ul>
        </ng-template>

        <ul class="nav navbar-nav navbar-right" *ngIf="authService.login.success">
          <li [ngClass]="{'active': navService.state == 'myevents'}" (click)="navService.myevents()"><a href="#"><span class="glyphicon glyphicon-th-list"></span> My Events</a></li>
          <li [ngClass]="{'active': navService.state == 'publicevents'}" (click)="navService.publicevents()"><a href="#"><span class="glyphicon glyphicon-calendar"></span> Public <span class="badge">{{appointmentService.everyoneAppointments.appointments.length}}</span></a></li>
          <li [ngClass]="{'active': navService.state == 'invitedto'}" (click)="navService.invitedto()"><a href="#"><span class="glyphicon glyphicon-calendar"></span> Invitations <span class="badge">{{appointmentService.myInvitations.appointments.length}}</span></a></li>
          <li [ngClass]="{'active': navService.state == 'availability'}" (click)="navService.availability()"><a href="#"><span class="glyphicon glyphicon-time"></span> Availability</a></li>
          <li [ngClass]="{'active': navService.state == 'profile'}" (click)="navService.profile()"><a href="#"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
          <li [ngClass]="{'active': navService.state == 'search'}" (click)="navService.search()"><a href="#"><span class="glyphicon glyphicon-search"></span> Search</a></li>
          <li [ngClass]="{'active': navService.state == 'invitationsuccess' || navService.state == 'invitation'}" (click)="navService.invitation()"><a href="#"><span class="glyphicon glyphicon-share"></span> Introduce</a></li>
          <li [ngClass]="{'active': navService.state == 'logout'}" (click)="goLogout()"><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div><!-- /.container-fluid -->
  </nav>
  <div class="container" [ngSwitch]="navService.state">
    <div *ngSwitchCase="'waiting'">waiting...</div>

    <div *ngSwitchCase="'loadmyevents'">loading your upcoming lunch data...</div>

    <div *ngSwitchCase="'enrollment'">
      <app-enrollment [foodOptions]="foodOptions" [locationOptions]="locationOptions"></app-enrollment>
    </div>

    <div *ngSwitchCase="'login'">
      <div class="col-sm-6">
        <form id="loginForm" (submit)="onSubmitLogin()" #loginForm="ngForm">

          <div class="alert alert-danger" role="alert" [hidden]="authService.login.error_messages.length == 0">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            <span *ngFor="let err_msg of authService.login.error_messages">
                {{err_msg}}<br>
            </span>
          </div>
          <div class="alert alert-success" role="alert" [hidden]="!authService.enrollment.submitted || !authService.enrollment.success">
            <span class="glyphicon glyphicon-check" aria-hidden="true"></span>
            Your Enrollment was successful.  Please log in using the same email and password.
          </div>
        <p>Please login:</p>
        <div class="form-group">
          <label for="loginFormEmail">Email address</label>
          <input type="email" class="form-control" id="loginFormEmail" name="loginFormEmail"
                 placeholder="Email" ngModel #loginFormEmail="ngModel" email="true" required appSalesforceOnly>
        </div>

        <div class="form-group">
          <label for="loginFormPassword">Password</label>
          <input type="password" class="form-control" id="loginFormPassword" name="loginFormPassword"
                   placeholder="Password" ngModel minlength="8" #loginFormPassword="ngModel"
                   required>
        </div>
        <button class="btn btn-default">Submit</button>
      </form>
      </div>
      <div class="col-sm-6">
        <h2>LunchCloud</h2>
        <p>Find people and eat lunch with them.</p>
      </div>
    </div>

    <div *ngSwitchCase="'search'" class="search">
      <app-search [foodOptions]="foodOptions" [locationOptions]="locationOptions"></app-search>

    </div>

    <div *ngSwitchCase="'invitation'">
      <app-introduction></app-introduction>
    </div>

    <div *ngSwitchCase="'invitationsuccess'">
      <app-invitation-success></app-invitation-success>
    </div>

    <div *ngSwitchCase="'profile'">
      <app-my-profile [foodOptions]="foodOptions" [locationOptions]="locationOptions"></app-my-profile>
    </div>

    <div *ngSwitchCase="'myevents'">
      <app-my-events></app-my-events>
    </div>

    <div *ngSwitchCase="'availability'">
          <app-availability></app-availability>
    </div>

    <div *ngSwitchCase="'publicevents'">
      <div class="alert alert-error" role="alert" [hidden]="!joinedAppointment">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Successfully joined:</span>
        You successfully joined the event (xxx)
      </div>
      <app-appointment-item [appointments]="appointmentService.everyoneAppointments.appointments" [allowJoiningEvent]=true (joinEvent)="onAppointmentJoined($event)">
        There are no public events currently available.
      </app-appointment-item>
    </div>

    <div *ngSwitchCase="'invitedto'">
      <div class="alert alert-error" role="alert" [hidden]="!joinedAppointment">
        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
        <span class="sr-only">Successfully joined:</span>
        You successfully joined the event (xxx)
      </div>
      <app-appointment-item [appointments]="appointmentService.myInvitations.appointments" [allowJoiningEvent]=true (joinEvent)="onAppointmentJoined($event)">
        There are no invitations outstanding for you.
      </app-appointment-item>
    </div>


    <ng-template #errorModal>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Modal</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{errormodal_message}}
      </div>
    </ng-template>

</div>
