<form id="enrollmentForm" (ngSubmit)="onSubmitEnrollment();" #enrollmentForm="ngForm">
    <h2>Enrollment: </h2>
      <!-- Create an account, select a place. -->
    <div class="alert alert-danger" role="alert" [hidden]="authService.enrollment.error_messages.length == 0">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
      <span class="sr-only">Error:</span>
      <span *ngFor="let err_msg of authService.enrollment.error_messages">
          {{err_msg}}<br>
      </span>
    </div>

    <div class="form-group">
      <label for="enrollmentEmail">Email address</label>
      <input type="email" class="form-control" id="enrollmentEmail" name="enrollmentEmail" placeholder="Email@example.org"
             ngModel required #enrollmentEmail="ngModel" email="true" appSalesforceOnly>
      <div [hidden]="enrollmentEmail.valid || enrollmentEmail.pristine && !authService.enrollment.submitted"
           class="alert alert-danger">
        You must enter a valid email.  You can only register with a salesforce.com email.
      </div>
    </div>

    <div class="form-group">
      <label for="enrollmentPassword">Password</label>
      <input type="password" class="form-control" id="enrollmentPassword" name="enrollmentPassword"
             placeholder="Password"
             ngModel minlength="8" #enrollmentPassword="ngModel"
             required>
      <div [hidden]="enrollmentPassword.valid || enrollmentPassword.pristine"
           class="alert alert-danger">
        You must enter a password of more than 8 characters.
      </div>
    </div>

    <div class="form-group">
      <label for="enrollmentIntroductionCode">Introduction Code</label>
      <input type="text" class="form-control" id="enrollmentIntroductionCode" name="enrollmentIntroductionCode"
             placeholder="abc-123" ngModel required>
      <div [hidden]="enrollmentPassword.valid"
           class="alert alert-warning">
        You cannot enroll without an introduction code
      </div>
    </div>

    <div class="form-group">
      <label for="selectWhitelist">I like</label>
      <select multiple="multiple" id="selectWhitelist" name="selectWhitelist" class="form-control"
              ngModel [compareWith]="compareIdFn">
        <option *ngFor="let foodOption of foodOptions" [ngValue]="foodOption">{{foodOption.name}}</option>
      </select>
    </div>

    <div class="form-group">
      <label for="selectLocation">I can meet you near</label>
      <select multiple="multiple" id="selectLocation" name="selectLocation" class="form-control"
              ngModel [compareWith]="compareIdFn">
        <option *ngFor="let locationOption of locationOptions" [ngValue]="locationOption">{{locationOption.name}}</option>
      </select>
    </div>

    <button class="btn btn-default">Submit</button>
  </form>
